<app-nav></app-nav>

<div class="container my-5">
  <h1 class="text-center mb-4">Lista de Carrito</h1>
  
  <!-- Tabla de recetas -->
  <table class="table table-bordered table-hover table-responsive">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de Creación</th>
        <th>Descripción</th>
        <th>Autor</th>
        <th>Tipo de Cocina</th>
        <th>País de Origen</th>
        <th>Dificultad</th>
        <th>Acción</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let receta of carrito">
        <td>{{ receta.id_recipe }}</td>
        <td>{{ receta.nombre }}</td>
        <td>{{ receta.fecha_creacion }}</td>
        <td>{{ receta.descripcion }}</td>
        <td>{{ receta.autor }}</td>
        <td>{{ receta.tipo_cocina }}</td>
        <td>{{ receta.pais_origen }}</td>
        <td>{{ receta.dificultad }}</td>
        <td><button type="button" (click)="deleteFromCart(receta.id_recipe)" class="btn btn-danger" >X</button></td>

      </tr>
      
    </tbody>
      <h5 *ngIf="carrito.length==0"> No existen recetas en tu carrito</h5>
  </table>
</div>