<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/">Recetas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/recipes">Carrito <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!no_auth" routerLinkActive="active" routerLink="/adm-users">ADM Usuarios <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!no_auth" routerLinkActive="active" routerLink="/adm-recipes">ADM Recetas <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!no_auth" routerLinkActive="active" routerLink="/home" (click)="logout()" >Logout <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  *ngIf="no_auth" routerLinkActive="active" routerLink="/login">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  *ngIf="no_auth" routerLinkActive="active" routerLink="/register">Registrar</a>
      </li>
    </ul>
    
  </div>
</nav>
